<!doctype html>
    <html>
    <head>
		<title>Meadowlark Travel</title> 
	</head>
	<body>
	<div style="background-color: greenyellow;">
		<h1>여기는 해더야!해더어~</h1>
		<a href="/">home</a> | 
		<a href="/about">about</a>
	</div>
	{{{ body }}}
	<div style="background-color: greenyellow;">
		<h1>여기는 푸터야!푸터어~</h1>
	</div>
    </body>
</html>
